<!DOCTYPE html>
<html>
  <head>
    <title>Tiktok</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
    <img src="/assets/logo.png">
  </div>
  <div class="main">
    <%= yield %>
  </div>
  </body>
</html>
